# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Logs and Reports
logs/
reports/*.html
reports/*.xml

# System files
.DS_Store
Thumbs.db
